<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="toDoEntry">
            <h2><span>To Do Entry</span> {{ toDoEntry.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ toDoEntry.title }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ toDoEntry.description }}</span>
                </dd>
                <dt><span>Published</span></dt>
                <dd>
                    <span>{{ toDoEntry.published }}</span>
                </dd>
                <dt><span>Due Date</span></dt>
                <dd>
                    <span>{{ toDoEntry.dueDate }}</span>
                </dd>
                <dt><span>Done</span></dt>
                <dd>
                    <span>{{ toDoEntry.done }}</span>
                </dd>
                <dt><span>Creator</span></dt>
                <dd>
                    {{ toDoEntry.creatorId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/to-do-entry', toDoEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
